

button{
    background-color:#00FF00;
    color:#5500ff;
    font-size:18pt;
    margin:10px;
    }
    #danger-btn{
    background-color:#eaff00;
    }
    .green-bg{
    background-color:#000000;
    }